# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Notebooks
.ipynb_checkpoints/

# Data caches
*.tmp
*.log

# Excel / extracts
*.bak
*.cache
*.hyper
*.tde
*.tds
*.tdsx
*.twb~
*.twbx~

# Power BI caches
*.pbit
*.pbix~
*.tmp

# Local config
*.local.json
secrets.json

# VSCode
.vscode/
